/* make all the text TOO small/inaccessible unless enlarged text is used */
/* COLOR CODES*
*1- 8EF6D4 - pop color cyan
*2- D0E8E4 - lightest grey/ 'white'
*3 -8E9E9B - medium grey
*4 - 5D6664 - dark grey
*5 - 353B3A - 'black'
-1+5 contrast for reg + large text //H1 + H2?
-2+5 contrast for reg + large text
-
 */
/* push */
 *{
     margin:0;
     padding:0;
     /* overflow-x: hidden; */
     /* font-size: 14pt; */
 }

body {
  /* outline-style: solid;
  outline-width: thin; */
  background: #F3F9F2;
  color: #353B3A;

}
a {
  color: #508A76;
  font-size: 14pt;
}
p {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 14pt;

}
li a{
  font-size: inherit;
}
article a{
  font-size: inherit;
}
/* HEADER STYLING */
h1 {
  color: #8EF6D4;
}
h3 {
  color: #353B3A;
  font-size: 15pt;
}


header {
  background: #353B3A ;
  padding-bottom: 5px;
  padding-top: 5px;
}
header h1 {
  padding-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 10vw;
  letter-spacing: 1px;
}
header h2 {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
  padding-bottom: 20px;
  color: #F3F9F2;
  font-size: 5vw;
}
article header {
  background: none;
}

nav {
  text-align: left;
  margin-top: 2px;
  margin-bottom: 20px;
}
nav li {
  text-align: left;
}
#nav2 {
  text-align: left;
  padding-left: 2vw;
  padding-right: 2vw;
}
 .navBar ul {
  list-style-type: none;
  padding: 0;
  padding-bottom: 1px;
}
/* HOVER ONLY WORKS FOR WEB, FIGURE OUT MOBILE EQUIV */
.navBar li:hover {
  background: #5D6664;
}
.navBar li a:hover {
  color: #8EF6D4;
}
.navBar li {
  outline-style: solid;
  outline-width: thin;
  outline-color: rgb(142,158,155,0.8);
  padding: 5px;
}
 .navBar li a {
  font-size: 3.4vw;
  padding: 10px;
  display:block;
  width: 100%;
  color: #353B3A;
  text-decoration: none;
  font-size: 14pt;
}
/* ^CAN DELETE ONCE FIXED? */

h5{
  font-weight: 500;
}
.navBar h4{
  display: none;
} */
ul {
  list-style-type: square;
  list-style-position: inside;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
}
ol {
  list-style-type: upper-roman;
  list-style-position: inside;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
}

article {
  padding: 10px;
}
article header {
  border-top-right-radius: 100px;
  padding-top: 3vw;
  padding-bottom: 3vw;
  padding-left: 5px;
  padding-right:10px;
  text-align: left;
}
article p {
  padding-left: 5px;
  padding-right: 5px;
  /* outline-style: solid;
  outline-width: thin; */
}
b{
  font-size: inherit;
}
#moralArg b {
 font-size: 5vw;
}


/* Dropdown Button */
.dropdown li {
  list-style: none;
}
.dropbtn {
  width: 100vw;
  text-align: left;
  background-color:#353B3A;;
  color: #8EF6D4;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #5D6664;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  /* position: absolute; */
  background-color: #F3F9F2;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: #353B3A;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  color:;
  background-color: #8EF6D4}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
/*media queries*/
/* TABLET */
@media only screen and (min-width: 486px){
  nav {
    text-align: center;
  }
  .navBar ul{
    padding-left: 10vw;
    padding-right: 10vw;
  }
  .navBar li a {
    font-size: 3.7vw;
  }
  h3 {
    font-size: 5vw;
  }
  .dropdown-content {
    position: absolute;
  }

  .dropdown-content a{
    font-size: 2vw;
  }
}
/*DESKTOP*/
@media only screen and (min-width: 769px){
article p{
  padding-left: 20vw;
  padding-right: 20vw;
}
nav {
  text-align: center;
}
.navBar h4 {
  font-size: 25pt;
  padding-bottom: 25px;
}
p {
  font-size: 18pt;
}

article{
  padding: 0;
  padding-bottom:5vw;
}
article header{
border-top-right-radius: 0px;
margin: 0;
padding-top: 2vw;
padding-bottom: 2vw;
text-align: center;
font-size: 3.5vw;
}
h3{
  font-size: 3vw;
}
.navBar li a{
  font-size: 1.5vw;
}
ul{
  padding-left: 23vw;
  padding-right: 23vw;
}
ol {
  padding-left: 23vw;
  padding-right: 23vw;
}
a {
  font-size: 18pt;
}
#moralArg b{
  font-size: 2.5vw;
}
em{
  font-size: 18pt;
}
header h1 {
  text-align: left;
  padding-top: 20px;
  padding-left: 1vw;
  padding-right: 2vw;
  font-size: 5vw;
}
header h2 {
  font-size: 2vw;
  text-align: left;
  padding-left: 1vw;
  padding-right: 3vw;
  padding-bottom: 1vw;
}
#nav2{
  padding-left:9.8vw;
  padding-right: 9.8vw;
}
.dropdown-content {
  position: absolute;
}
.dropbtn {
  font-size: 2vw;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 2vw;
}
.dropdown-content a{
  font-size: 1.5vw;
}

/* DIV classes
header
navBar
main
 */

}
